.footer{
  background: #161817;
  color: azure;
}

.footer-conteiner{
  max-width: 1000px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-text{
  font-size: 1.5rem;
  line-height: 1.33;
  color: #B7C4C4;
}

.footer-contact{
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 30px;
}

.footer-contact li a{
  color: white;
}

.footer-copy{
  grid-column: 1 / -1;
  font-size: 1rem;
  color: #8f8f8f;
}

@media (max-width: 770px){
  .footer-conteiner{
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }
  .footer-contact li{
    font-size: 1.5rem;
    text-align: center;
  }
}